@import "tailwindcss";
@import "@fontsource/space-grotesk";

@theme {
  /* Font Family */
  --font-sans: "Space Grotesk", sans-serif;

  /* Color Palette */
  --color-background: #000000;
  --color-surface: #1a1b1f;
  --color-primary: #2ce59b;
  --color-secondary: #a87ff3;
  --color-border: #2c2c35;
  --color-text-base: #ffffff;
  --color-text-muted: #a1a1aa;
}

/* Global Styles */
body {
  background-color: var(--color-background);
  font-family: var(--font-sans);
  color: var(--color-text-base);
}

.landing-lock {
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
}